.dz-flag-icon,
.dz-flag-icon-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%
}

.dz-flag-icon {
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em
}

.dz-flag-icon:before {
    content: "\00a0"
}

.dz-flag-icon.dz-flag-icon-squared {
    width: 1em
}

.dz-ar {
    background-image: url(../img/Flag/Arabic.svg)
}

.dz-en {
    background-image: url(../img/Flag/English.svg)
}

.dz-fr {
    background-image: url(../img/Flag/France.svg)
}

.dz-kb {
    background-image: url(../img/Flag/Tamazight.svg)
}

.dz-favicon {
    background-image: url(../img/favicon.svg)
}