<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a href="" class="flex">
        <span class="inline-block w-32 h-10 bg-purple-200 rounded-lg"></span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 Tailblocks —
      <a href="https://web.facebook.com/djameleddine.mekki27/" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@DjamelEddine.Mekki</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a class="ml-3 text-gray-500">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="ml-3 text-gray-500">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="ml-3 text-gray-500">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </span>
  </div>
</footer>