<!-- Head -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%= pages.title %></title>
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assets/libs/fontawesome/css/all.css">
<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
<!-- /Head -->
