<!-- Head -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%= pages.title %></title>
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assets/awesome 4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/awesome 5.8.1/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/fonts/icon.css">
<link rel="stylesheet" type="text/css" href="/assets/libs/w3.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<!-- /Head -->
